<div class="two-columns">
	<div class="main-region">
		{{ content.main }}
	</div>
	<div class="sidebar-region">
		{{ content.sidebar }}
	</div>
	<div class="main2-region">
		{{ content.main2 }}
	</div>
	<div class="main3-region">
		{{ content.main3 }}
	</div>
</div>